In [1]:
import pandas as pd
import numpy as np
import datetime as dt 
from collections import namedtuple

In [2]:
gas_data = pd.read_csv("clean_df.csv")
len(gas_data)

327075

In [3]:
gas_data.localminute = gas_data.localminute.str.slice(0,19)
gas_data.localminute = pd.to_datetime(gas_data.localminute, infer_datetime_format = True, 
                                      format = "%Y/%m/%d %I:%M:%S %p");
gas_data.localminute = gas_data.localminute.map(lambda x:x.replace(minute=0, second=0));

In [4]:
#gas_data=gas_data[gas_data['dataid']==35];
_hr=dt.timedelta(hours=1);
temp_gas_hr=pd.DataFrame(columns=gas_data.columns);
temp_gas_hr=gas_data;
id_list=gas_data['dataid'].unique();
ind=0;
#temp_row=namedtuple('temp_row',gas_data.columns)

for _id in id_list:
    
    
    print(ind)
    ind=ind+1;
    
    temp_gas_data=gas_data[gas_data['dataid']==_id];
    temp_gas_data.reset_index(drop=True,inplace=True);
    for  index,row in temp_gas_data.iterrows():
        if(index==0):
            prev_row=row.copy();
        else:
            time_diff=row.localminute-prev_row.localminute;
            if(time_diff>_hr):
                time_diff=int(time_diff.total_seconds()/3600);
                for j in range (1,time_diff):
                        time_change=dt.timedelta(hours=j);
                        new_time=prev_row.localminute+time_change;
                        temp_row.localminute=new_time;
                        temp_gas_hr=temp_gas_hr.append(temp_row);

        prev_row=row.copy();
        temp_row=prev_row.copy();

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156

In [7]:
temp_gas_hr.drop_duplicates(['localminute','dataid'],keep='last',inplace=True);

In [8]:
temp_gas_hr=temp_gas_hr.sort_values(by=['dataid','localminute']);
temp_gas_hr

               localminute  dataid  meter_value
0      2015-10-01 00:00:00      35        93470
0      2015-10-01 01:00:00      35        93470
0      2015-10-01 02:00:00      35        93470
0      2015-10-01 03:00:00      35        93470
0      2015-10-01 04:00:00      35        93470
0      2015-10-01 05:00:00      35        93470
1      2015-10-01 06:00:00      35        93472
1      2015-10-01 07:00:00      35        93472
1      2015-10-01 08:00:00      35        93472
1      2015-10-01 09:00:00      35        93472
1      2015-10-01 10:00:00      35        93472
2      2015-10-01 11:00:00      35        93474
2      2015-10-01 12:00:00      35        93474
2      2015-10-01 13:00:00      35        93474
2      2015-10-01 14:00:00      35        93474
2      2015-10-01 15:00:00      35        93474
2      2015-10-01 16:00:00      35        93474
3      2015-10-01 17:00:00      35        93476
3      2015-10-01 18:00:00      35        93476
4      2015-10-01 19:00:00      35        93482
4      2015-10-01 20:00:00      35        93482
5      2015-10-01 21:00:00      35        93484
5      2015-10-01 22:00:00      35        93484
5      2015-10-01 23:00:00      35        93484
5      2015-10-02 00:00:00      35        93484
5      2015-10-02 01:00:00      35        93484
5      2015-10-02 02:00:00      35        93484
6      2015-10-02 03:00:00      35        93486
6      2015-10-02 04:00:00      35        93486
6      2015-10-02 05:00:00      35        93486
...                    ...     ...          ...
877    2016-03-30 06:00:00    9982       119784
877    2016-03-30 07:00:00    9982       119784
877    2016-03-30 08:00:00    9982       119784
877    2016-03-30 09:00:00    9982       119784
877    2016-03-30 10:00:00    9982       119784
877    2016-03-30 11:00:00    9982       119784
877    2016-03-30 12:00:00    9982       119784
877    2016-03-30 13:00:00    9982       119784
877    2016-03-30 14:00:00    9982       119784
877    2016-03-30 15:00:00    9982       119784
877    2016-03-30 16:00:00    9982       119784
327073 2016-03-30 17:00:00    9982       119852
878    2016-03-30 18:00:00    9982       119852
878    2016-03-30 19:00:00    9982       119852
878    2016-03-30 20:00:00    9982       119852
878    2016-03-30 21:00:00    9982       119852
878    2016-03-30 22:00:00    9982       119852
878    2016-03-30 23:00:00    9982       119852
878    2016-03-31 00:00:00    9982       119852
878    2016-03-31 01:00:00    9982       119852
878    2016-03-31 02:00:00    9982       119852
878    2016-03-31 03:00:00    9982       119852
878    2016-03-31 04:00:00    9982       119852
878    2016-03-31 05:00:00    9982       119852
878    2016-03-31 06:00:00    9982       119852
878    2016-03-31 07:00:00    9982       119852
878    2016-03-31 08:00:00    9982       119852
878    2016-03-31 09:00:00    9982       119852
878    2016-03-31 10:00:00    9982       119852
327074 2016-03-31 11:00:00    9982       119924

[610456 rows x 3 columns]

In [9]:
temp_gas_hr.to_csv('hourly_readings_final.csv')